@media screen and (min-width: 428px) {
     .container {
        max-width: 428px;
    }
    .main-content-item-one  {
        max-width: 396px;
}
}
@media screen and (min-width: 768px) {
     .container {
        max-width: 768px;
     }
}
     .main-content-item-one {
        max-width: unset;
        width: calc((100% - 24px) / 2);
    }
    .main-strategi {
        gap: 72px 24px;
    }
    .section-content-one {
        padding-top: 96px;
        padding-bottom: 96px;
    }
@media screen and (min-width: 768px) {
}